{% extends 'base.html' %}

{% load static %}

{% block content %}

<br>

<div class="form-container">
  <div class="form-header">Edit Game</div>
  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
      <div class="form-group">
        <label class="form-label">{{ field.label }}:</label>
        {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}

    <button type="submit" class="submit-button">Submit</button>
  </form>
</div>

{% endblock %}
