{% load static %} 
<nav class="bg-red text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center space-x-4">
            <a href="#" class="flex items-center space-x-2">
                <img src="{% static 'image/logo.png' %}" alt="Logo" class="w-8 h-8">
                <span class="text-xl font-semibold">GameHunt</span>
            </a>

            <div class="hidden md:flex space-x-6">
                <!-- Apply hover to change background and text color -->
                <a href="#" class="px-3 py-2 rounded hover:bg-red-700 hover:text-gray-400">News</a>
                <a href="{% url 'search:show_search' %}" class="px-3 py-2 rounded hover:bg-red-700 hover:text-gray-400">Browse Games</a>
                <a href="{% url 'wishlist:view_wishlist' %}" class="px-3 py-2 rounded hover:bg-red-700 hover:text-gray-400">Wishlist</a>
            </div>
        </div>

        <div class="relative">
            <!-- Apply hover to user menu button to change background and text color -->
            <button id="userMenuButton" class="flex items-center space-x-2 px-3 py-2 rounded hover:bg-red-700 hover:text-gray-400 focus:outline-none">
                <img src="{% static 'image/user_icon.png' %}" alt="User Icon" class="w-6 h-6">
                <span class="text-sm">{{ request.user.username }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </button>

            <div id="userDropdown" class="z-50 hidden absolute right-0 mt-2 w-48 bg-white text-black border border-gray-300 py-2">
                <a href="{% url 'userprofile:userprofile' %}" class="block px-4 py-2 text-sm hover:bg-soft-red hover:text-gray-400">Edit Profile</a>
                <form action="{% url 'authentication:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="block w-full text-left px-4 py-2 text-sm hover:bg-soft-red hover:text-gray-400">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<script>
    document.getElementById('userMenuButton').addEventListener('click', function() {
        var dropdown = document.getElementById('userDropdown');
        dropdown.classList.toggle('hidden');
    });

    window.addEventListener('click', function(event) {
        var dropdown = document.getElementById('userDropdown');
        if (!event.target.closest('#userMenuButton')) {
            dropdown.classList.add('hidden');
        }
    });
</script>