<div class="flex rounded-xl overflow-hidden shadow-xl border border-gray-300 hover:shadow-2xl transition duration-300">
    <div class="left-column">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="location-icon" width="40" height="40">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2c-4.418 0-8 3.582-8 8 0 4.418 8 12 8 12s8-7.582 8-12c0-4.418-3.582-8-8-8z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 11a1 1 0 100-2 1 1 0 000 2z" />
        </svg>
        <p class="label text-center">Available Store</p>
    </div>
    <div class="right-column">
        <p class="store">{{ store }}</p>
        <p class="address">{{ address }}</p>
    </div>
</div>